# Assignment 2

In [1]:
#Task 1: Create a cell that imports libraries needed for data viz
#Source for basic setup: https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Read in the dataset downloaded from internet

In [2]:
#Task 2a: Add a cell that imports a dataset into the notebook
#Task 2b: Load the data into a Pandas Dataframe & display the first 5 rows
#Source: https://www.kaggle.com/notgibs/500-greatest-albums-of-all-time-rolling-
#Link to stackoverflow for encoding error: https://github.com/IBM/pixiedust-facebook-analysis/issues/39

df=pd.read_csv('albumlist.csv', delimiter=',', encoding = 'latin-1')
data.head(5)

NameError: name 'data' is not defined

## Sort & Tidy Data

In [ ]:
#Run basic descriptive statistics 

print(data.describe())

In [ ]:
# Above we can see that the oldest album is from 1955 and the newest is from 2011.
# The average year of album release is 1979.

In [ ]:
# List the Top 20 most frequent artists that appear on the LIST
print('\nThe Top 20 top artists/bands are listed below:\n\n', df['Artist'].value_counts()[:20])

In [ ]:
#TASK 3: Remove unneeded columns & make a new dataframe grouped by artist 
#Used concepts from this website: https://medium.freecodecamp.org/visualising-rolling-stones-500-greatest-songs-using-bokeh-78ebc0eaff3f
#Also used this cheat sheet: https://ugoproto.github.io/ugo_py_doc/Pandas_DataFrame_Notes.pdf

df_grouped=df.groupby('Artist')
artists=df_grouped.size()
df_art=pd.DataFrame({'Artist': artists.index, '# of Top 500 Albums': artists.values})

df_art=df_art.sort_values('# of Top 500 Albums', ascending=False)
df_art.index=np.arange(1, len(df_art)+1)
print(df_art.head())
print('\nThe Top 20 bands & artists are listed below again:\n\n', df_art[:20])

## Create A Plot!

In [ ]:
#TASK 4: Add a fourth cell that creates a plot
#Make a bar chart from the cleaned up dataframe defined above
df_art=df_art[:20]

fig = plt.figure(figsize = (10, 10))
sns.set_style("whitegrid")
ax = sns.barplot(x='Artist', y='# of Top 500 Albums', data=df_art)

plt.title('Artists with the most Albums in the Top 500', fontsize = 20)
plt.xlabel('Artist', fontsize = 10)
plt.setp(ax.get_xticklabels(), rotation=65)
plt.ylabel('# of Top 500 Albums', fontsize = 10)
plt.show()

## What are the top 20 Genres?

In [ ]:
#Source: https://data36.com/pandas-tutorial-2-aggregation-and-grouping/
genre_grouped=df.groupby('Genre')
genres=genre_grouped.size()
df_genre=pd.DataFrame({'Genre': genres.index, '# of top 500 Albums': genres.values})

df_genre=df_genre[:20]
df_genre=df_genre.sort_values('# of top 500 Albums', ascending=False)

fig = plt.figure(figsize = (10, 10))
sns.set_style("whitegrid")
ax = sns.barplot(x='Genre', y='# of top 500 Albums', data=df_genre)

plt.title('Genres by Ranking', fontsize = 20)
plt.xlabel('Genre', fontsize = 15)
plt.setp(ax.get_xticklabels(), rotation=90)
plt.ylabel('# of top 500 Albums', fontsize = 15)
plt.show()

## Pie Chart by Genre

In [ ]:
#Source 1: https://stackoverflow.com/questions/30059862/pandas-pie-chart-plot-remove-the-label-text-on-the-

fig = plt.figure(figsize=(20, 20))

plt.pie(df_genre['# of top 500 Albums'], autopct='%1.0f%%', pctdistance=0.85,)
plt.title('Most popular genres as categorized by Rolling Stone Magazine')
plt.legend(df_genre['Genre'], loc='best')
plt.show()

## Convert to Numpy Array

In [ ]:
#TASK 5: Extract the data from the pandas datafram into a numpy array. (FAILED)
df = df.values

In [ ]:
##I could not get this part to work, IDK if its another encoding thing, but I tried all the reccomendations on stack overflow:
#Source: https://stackoverflow.com/questions/17241004/how-do-i-get-a-dataframe-index-series-column-as-an-array-or-list
#https://stackoverflow.com/questions/13187778/convert-pandas-dataframe-to-numpy-array/54508052#54508052

#1. I was trying to convert my pandas dataframe to a numpy array using the .values attribute of numpy. 
#2. I tried using to_numpy() Method / df.index.values / etc
#3. I thought I could convert my pandas dataframe into an numpy array eventhough it containted non-numiercal values
#4. I keep getting an error: I think its becuase numpy doesn't accept OBJECTS and most of my data is non-numerical
#4. and was kept this way that so I could have the artist names and genres in my analysis. 
#5. Searched Stackoverflow / Texted paxton / Asked a friend from DALI lab (Kaitlyn Hahn)
#6. 2 hours

In [ ]:
#TASK 6: Carry out some kind of basic analysis or data viz of the numpy array (FAILED)
#Can't use numpy's viz functions until we can get the array loaded in properly.